<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="main">
        {{>header}}
        <p>2nd Year CSE Student at Indian Institute of information Technology, Una</p>
    </div>
    
    {{>footer}}
</body>
</html>