<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <p>Use This Site to get Weather</p>
        <form>
            <input type="text" placeholder="Location">
            <button>
                Search
            </button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>
</html>